<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>req</h1>
<ul>
  <% data.forEach(question => { %>
    <li>
      <%= question.text %>
      <form action="/makeAdmin" method="post">
        <input type="hidden" name="request" value="<%= question._id %>">
        <button type="submit">Accept</button>
      </form>
      <form action="/refuse" method="post">
        <input type="hidden" name="request" value="<%= question._id %>">
        <button type="submit">Remove</button>
      </form>
    </li>
  <% }); %>
</ul>


</body>
</html>