<%- include('../partials/header') %>

<form action="/submit" method="post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  
  <label for="email">Email:</label>
  <input type="text" id="email" name="email">
  
  <label for="name">reason:</label>
  <textarea> </textarea>
  
  <input type="submit" value="Submit">
</form>

<%- include('../partials/footer') %>