<%- include('../partials/header') %>

<div class="request-form-container">
  <form class="request-form" action="/requests/submit" method="post">
    
    <label class="request-form-label" for="name">Name</label>
    <input class="reqeust-form-input" type="text" id="name" name="name" required>
    
    <label class="request-form-label" for="name">Reason</label>
    <textarea  class="reqeust-form-textarea" id="reason" name="reason" required></textarea>
    
    <input class="request-form-submit" type="submit" value="Submit">
  </form>
</div>

<%- include('../partials/footer') %>