
<%- include('./partials/header') %>

<h1>Categories</h1>



<% categories.forEach(category => { %>
  <ul>
      <li><a href="/books/<%= category.category%>"><%= category.category%></a></li>
  
  </ul>
  <% }); %>
  

<%- include('./partials/footer') %>