<%- include('../partials/header') %>

<h1>Categories</h1>

<% categories.forEach(cata => { %>
<div>
    <li><%= cata.name%></li>
    <li><%= cata.id%></li>

</div>
<% }); %>



<%- include('../partials/footer') %>