<%- include('../partials/header') %>

<h1><a href="">My Book List</a></h1>
<% Books.forEach(book => { %>
    <ul>
        <li><a href=""><%= book.name%></a></li>
    </ul>
<% }); %>  



<%- include('../partials/footer') %>