<script>
  document.addEventListener("DOMContentLoaded", function(){
  const path = window.location.pathname;
  // console.log(path)
  const panel = document.querySelector(".panel")
  if (path === "/admins" ){
    panel.innerHTML = "User Panel"
    panel.href = "/"
  }
  else {
    panel.innerHTML = "Admin Panel"
    panel.href = "/admins"
  }})
</script>
</body>
</html>