<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

<body>
  <header>
    <div class="header-logo" >
        <a href="/">
        <img src="https://bcassetcdn.com/social/apue6p0mhh/preview.png" id="logo">
        </a>
    </div>

    <div class="header-main">
      <%if  (/^\/books(?!\/show)/.test(path)){%>
        <input type="text" name="query" id="search" placeholder="Search">
      <%}%>
      
      <% if (user) { %>
        <% if (user.type) { %>
                <a href="/admins" class="header-link">Admin panel</a>
            <% if (path === "/admins") { %>
                    <a class="header-link" href="/admins/new">Add books</a>

                <a class="header-link" href="/requests/adminReview">Review Requests</a>

                <% } %>
                <% } else{%>
                <a class="header-link" href="/requests/questions" class="request-panel">Admin Request</a>
                <%}%>
    
                <a class="header-link" href="/lists/index">My Book List</a>
                
                <div class="user-info">
                    <div class="header-link username"><%= user.name.split(" ")[0] %></div>
                    <a class="header-link logout-button" href="/logout">Log out</a>
                </div>
    <% } else { %>
        <div class="login-butt-container">
            <a class="login-butt" href="/auth/google">Login</a>
        </div>
    <% } %>
    
    </div>



    
    </header>


