<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href=""><butto>login</button></a>
      <a href="/admins"><button>add books</button></a>
      <!-- search function, jawad is lost  -->
    </header>