<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <header>
      <a href=""><butto>login</button></a>
      <a href="/admins/index"><button>Admin view</button></a>
      <a href="/admins/new"><button>Add books</button></a>
    </header>