<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <header>
      <span>Books4you</span>
      <%if (user) {%>
        <%if (user.type) {%>
          <a href="/admins/new">Add books</a>
          <a href="/admins" class="panel">Admin panel</a>
        <%}%>
        <!-- <div> -->
          <span><%=user.name.split(" ")[0]%></span>
          <a href="/logout">Log out</a>
        <!-- </div> -->
        <%} else {%>
        <a href="/auth/google">login</a>
        <%}%>
    </header>

