<%- include('../partials/header') %>
<h3> ze bluthoth device</h3>
<div>2 </div>
<div> 2</div>
<div> </div>
<div> </div>
<div> </div>
<div> </div>
<div> </div>
<div> </div>
<div> </div>
<div> </div>
<%- include('../partials/footer') %>