<%- include('../partials/header') %>

<h1>Added Books List</h1>

<ul>
<% books.forEach(book => { %>
    <li>
        <a href="/books/show/<%= book._id %>" ><%= book.name%></a>
    </li>
<% }); %>
</ul>


<%- include('../partials/footer') %>