body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  background-color: #402e2033;
}

nav > a.active {
  color: #86654b;
  font-size: large;
  font-weight: bolder;
  cursor: default;
}
