<%- include('../partials/header') %>

<h1>This is my books List</h1>
<!-- <% Mybooks.forEach(book => { %>
    <ul>
        <li><a href=""><%= book.name%></a></li>
    </ul>
<% }); %>   -->

<%- include('../partials/footer') %>